<% layout('layouts/boilerplate') %>
<div id="cluster-map"></div>
<h1>All Campgrounds</h1>
<div>
    <a href="/campgrounds/new"><button class="btn btn-secondary">Add Campground</button></a>
</div>
<!-- <ul> -->
    <% for(let campground of campgrounds){ %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if(campground.image.length) {%>
                    <img src="<%= campground.image[0].url %>" class="img-fluid">
                    <% } else {%>
                        <img src="https://res.cloudinary.com/desbzqtjy/image/upload/v1723658711/YelpCamp/oleaoxbndwmvsziolmuu.jpg" class="img-fluid">
                    <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text"><%= campground.description %></p>
                        <p class="card-text">
                            <small class="text-muted"><%= campground.location %></small>
                        </p>
                        <a class="btn btn-primary" href="campgrounds/<%= campground._id  %>">View <%= campground.title %></a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
<script>
    const mapApiKey='<%= process.env.MAPTILER_API_KEY %>';
    const campgrounds={features:<%- JSON.stringify(campgrounds) %>};
</script>
<script src="/javascripts/clusterMap.js"></script>
